@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';
@import '../../node_modules/ag-grid-community/dist/styles/ag-grid.css';
@import '../../node_modules/ag-grid-community/dist/styles/ag-theme-balham.css';

@import './news-theme/theme.scss';

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;

  .app-grid {
    width: 90%;
    height: 500px;
    margin: auto;
  }

  #menu-bar {
    .bg-dark {
      background-color: rgb(28,65,153) !important;
    }
  
    .navbar-dark .navbar-nav .nav-link {
      color: rgba(255, 255, 255, 1);
    }
  }
}
